
#select{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 3px solid #73AD40;
    padding: 20px;
}


.space{
    padding-bottom: 10px;
    display: inline-block;
}
#checkbox{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 3px solid #73AD21;
    padding: 20px;
    
}